  body{
    background: linear-gradient(to right, #4cf2f2,#2d857e,#4cf2f2);
  }
  #carousel-example-generic{
    border: 2px solid #174b86;
  }

  aside{
    float:right;
    position: absolute;
  }
  aside img{
    margin:-2px;
    width:90%;
    border-radius:20px;
    border:2px solid #003e85;
  }
