  body{
    background: linear-gradient(to right, #026b61,#08a294,#026b61);
  }
  @media (max-width: 480px){
    header div{
      height:75px !important;
    }
  }
  .row{
    margin-right: 0px;
  }
  header div{
    height:100px;
  }
  img{
    width:100%;
  }
  aside img{
    border-radius:20px;
    border:2px solid #003e85;
  }
  h2 img{
    height:18px;
    width:18px;
  }
  header div img{
    width:auto;
    height:100%;
    border-radius: 50px;
    border: 2px solid #174b86;
  }


  #carousel-example-generic{
    border: 2px solid #174b86;
  }

  #estatic li{
    list-style-type: none;
    font-size:18px;
    text-align: center;
    height:50px;
    width:110px;
    border-radius:20px;
    border: 2px solid #003e85;
    background-repeat: no-repeat;
    background-position: 0px center;
  }
  #estatic a{
    text-decoration: none;
    color:#000000;
  }

  #estatic a:hover #crema{
    background-image: url(crema.jpg);
  }
  #estatic a:hover #dulcedeleche{
    background-image: url(dulcedeleche.jpg);
  }
  #estatic a:hover #chocolate{
    background-image: url(chocolate.jpg);
  }
  #estatic a:hover #frutas{
    background-image: url(frutilla.jpg);
  }
  .row a{
    text-decoration: none;
  }

  .dpostre,.sabenc,.presentacion{
    color:#000000;
  }
  .presentacion{
       font-weight:bold;
  }
  .table tr td {

    text-align: center;
  }

  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.5);
  border-radius: 50px;
  color: white;
  z-index: 10;
}

.hvr-grow {

  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  z-index: 9;
}
#categoria {
  float: right;
}
