  body{
    background: linear-gradient(to right, #4cf2f2,#31a3a0,#4cf2f2);
  }
  header
  {
    margin:auto;
    height:100px;
    width:674px;
  }
  header img{
    float:left;
    margin-left:14%;
    height:90%;
    border-radius: 50px;
    border: 2px solid #174b86;
  }
  nav{
    height:27px;
  }
  nav ul{
    margin:auto;
    width:674px;
  }
  nav ul li
  {
  	float: left;
  	padding-right: 20px;
  	padding-left: 20px;
    background: linear-gradient(to top, #5885c0,#a0e6e6,#5885c0);
    list-style-type: none;
    font-size: 20px;
    border: 1px solid #003e85;
    border-radius: 20px;
  }

  nav ul a
  {
    text-decoration: none;
  	color: #054691;
  }
  nav ul a:hover li {
    color: #82ded5;
    background: linear-gradient(to top, #a0e6e6,#5885c0,#a0e6e6);
    border: 1px solid #a0e6e6;
  }
  article {
    height:100%;
    margin-top: -25px;
  }
  /*--------------------------------*/
  /*----------Encargue--------------*/

  article h1{
	text-align: center;
  font-size:30px;
  font-family:inherit;
  }
  table{
	margin: 18px auto auto;
	height: 220px;
	width: 300px;
  border-radius:15px;
	background-color: orange;
  }
  th ,td{
	text-align: center;
  border-radius:15px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  form{
	font-weight: bold;
	margin: auto auto;
	height: 380px;
	width: 550px;
	border: 3px solid #326000;
	border-radius: 10px;
	background-color: orange;
  }

  thead{
    color:green;
  }

  tbody{
    color:blue;
  }

  table, th, td{
    border:1px solid black;
  }
  form input, textarea{
    margin-left:15px;
    margin-top:1px;
    margin-bottom:1px;
  }
  form p{
    margin-left:20px;
    margin-top:5px;
    margin-bottom:1px;
  }
  /*--------------------------------*/
  /*----------SABORES-------------*/
  section ul{
    margin:auto;
    width:674px;
  }
  section ul li{
    font-size:20px;
  }
  .ulestatic{
    position: fixed;
    list-style-type: none;
    margin-top:-20px;
  }.ulestatic li{
    font-size:20px;
    text-align: center;
    height:50px;
    width:110px;
    border-radius:20px;
  }
  .crema{
    background-image: url(crema.jpg);
    background-repeat: no-repeat;
    background-position: 0px center;
  }
  .dulcedeleche{
    background-image: url(dulcedeleche.jpg);
    background-repeat: no-repeat;
    background-position: 0px center;
  }
  .chocolate{
    background-image: url(chocolate.jpg);
    background-repeat: no-repeat;
    background-position: 0px center;
  }
  .frutas{
    background-image: url(frutilla.jpg);
    background-repeat: no-repeat;
    background-position: 0px center;
  }
