  body{
    background-color: #012b26;
  }
  header
  {
    background-color: #e3e55e;
    height:25px;
    margin-top: -16px;
  }
  nav{
    background-color: #ad5de3;
    height:27px;
  }
  nav ul{
    margin:auto;
    width:674px;
  }
  nav ul li
  {
  	float: left;
  	padding-right: 20px;
  	padding-left: 20px;
    list-style-type: none;
    font-size: 20px;
    border: 1px solid #901326;
  }

  nav ul a
  {
    text-decoration: none;
  	color: #2b7819;
  }
  nav ul a:hover li {
    color: #e61050;
  	background-color: #31135a;
    border: 1px solid #b9b22d;
  }
  article {
    background-color: #31a3a0;
    height:100%;
    margin-top: -25px;
  }
  /*--------------------------------*/
  /*----------Encargue--------------*/
  article h1{
	text-align: center;
  font-size:30px;
  font-family:inherit;
  }
  table{
	margin: 18px auto auto;
	height: 220px;
	width: 300px;
	border: 3px solid #326000;
	background-color: orange;
  }
  th ,td{
	text-align: center;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  form{
	font-weight: bold;
	margin: auto auto;
	height: 380px;
	width: 550px;
	border: 3px solid #326000;
	border-radius: 10px;
	background-color: orange;
	box-shadow: 0px 5px 10px #3d8e00;
  }

  thead{
    color:green;
  }

  tbody{
    color:blue;
  }

  table, th, td{
    border:1px solid black;
  }
  form input, textarea{
    margin-left:15px;
    margin-top:1px;
    margin-bottom:1px;
  }
  form p{
    margin-left:20px;
    margin-top:5px;
    margin-bottom:1px;
  }
  /*--------------------------------*/
